<div class="container">
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" style="overflow-x: auto;">
        <ng-container matColumnDef="DOI">
            <th mat-header-cell *matHeaderCellDef>DOI</th>
            <td mat-cell *matCellDef="let d">{{d.publicationDoi}}</td>
        </ng-container>
        <ng-container matColumnDef="Year">
            <th mat-header-cell *matHeaderCellDef>Year</th>
            <td mat-cell *matCellDef="let d">{{d.publicationYear}}</td>
        </ng-container>
        <ng-container matColumnDef="Citations Count">
            <th mat-header-cell *matHeaderCellDef>Citations Count</th>
            <td mat-cell *matCellDef="let d">{{d.publicationCitationsCount}}</td>
        </ng-container>
        <ng-container matColumnDef="Keywords">
            <th mat-header-cell *matHeaderCellDef>Keywords</th>
            <td mat-cell *matCellDef="let d" matTooltip="{{d.publicationKeywords}}">{{d.publicationKeywords | slice:0:15}}</td>
        </ng-container>
        <ng-container matColumnDef="Scientific Fields">
            <th mat-header-cell *matHeaderCellDef>Fields</th>
            <td mat-cell *matCellDef="let d" matTooltip="{{d.publicationFields}}">{{d.publicationFields | slice:0:15}}</td>
        </ng-container>
        <ng-container matColumnDef="Author First Name">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let d">{{d.authorFirstName}}</td>
        </ng-container>
        <ng-container matColumnDef="Author Last Name">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let d">{{d.authorLastName}}</td>
        </ng-container>
        <ng-container matColumnDef="Fields Of Study">
            <th mat-header-cell *matHeaderCellDef>Fields Of Study</th>
            <td mat-cell *matCellDef="let d" matTooltip="{{d.authorFieldsOfStudy}}">{{d.authorFieldsOfStudy | slice:0:15}}</td>
        </ng-container>
        <ng-container matColumnDef="Author Citations Count">
            <th mat-header-cell *matHeaderCellDef>Author Citations Count</th>
            <td mat-cell *matCellDef="let d">{{d.authorCitationsCount}}</td>
        </ng-container>
        <ng-container matColumnDef="Organization Name">
            <th mat-header-cell *matHeaderCellDef>Organization Name</th>
            <td mat-cell *matCellDef="let d" matTooltip="{{d.organizationName}}">{{d.organizationName | slice:0:15}}...</td>
        </ng-container>
        <ng-container matColumnDef="Type 1 (Primary)">
            <th mat-header-cell *matHeaderCellDef>Type 1 (Primary)</th>
            <td mat-cell *matCellDef="let d">{{d.organizationType1}}</td>
        </ng-container>
        <ng-container matColumnDef="Type 2 (Secondary)">
            <th mat-header-cell *matHeaderCellDef>Type 2 (Secondary)</th>
            <td mat-cell *matCellDef="let d">{{d.organizationType2}}</td>
        </ng-container>
        <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef>City</th>
            <td mat-cell *matCellDef="let d">{{d.organizationCity}}</td>
        </ng-container>
        <ng-container matColumnDef="Country">
            <th mat-header-cell *matHeaderCellDef>Country</th>
            <td mat-cell *matCellDef="let d">{{d.organizationCountry}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
        </table>
        <div style="display: flex; justify-content: right; flex-direction: row;">
            <mat-paginator 
                #paginator
                [length]="length" 
                [pageSize]="pageSize" 
                [pageIndex]="pageIndex"
                [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
        </div>
    </div>
    <div class="button-container">
        <button class="action-button" type="button" (click)="newSearch()">
        <i class="fas fa-sync" style="font-size: 2em;"></i></button>
        <button class="action-button" style="margin-top: 10px;" type="button" (click)="exportToExcel()">
        <i class="fas fa-file-excel" style="font-size: 2em;"></i></button>
        <button class="action-button" style="margin-top: 10px;" type="button" (click)="exportToCsv()">
        <i class="fas fa-file-csv" style="font-size: 2em;"></i></button>
    </div>
</div>