
<div class="table-container">
    <table mat-table [dataSource]="dataSource" style="overflow-x: auto;">
    <ng-container matColumnDef="doi">
        <th mat-header-cell *matHeaderCellDef>DOI</th>
        <td mat-cell *matCellDef="let d">{{d.publicationDoi}}</td>
    </ng-container>
    <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>Year</th>
        <td mat-cell *matCellDef="let d">{{d.publicationYear}}</td>
    </ng-container>
    <ng-container matColumnDef="citations-count">
        <th mat-header-cell *matHeaderCellDef>Citations Count</th>
        <td mat-cell *matCellDef="let d">{{d.publicationCitationsCount}}</td>
    </ng-container>
    <ng-container matColumnDef="keywords">
        <th mat-header-cell *matHeaderCellDef>Keywords</th>
        <td mat-cell *matCellDef="let d">{{d.publicationKeywords}}</td>
    </ng-container>
    <ng-container matColumnDef="fields">
        <th mat-header-cell *matHeaderCellDef>Fields</th>
        <td mat-cell *matCellDef="let d">{{d.publicationFields}}</td>
    </ng-container>
    <ng-container matColumnDef="first-name">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let d">{{d.authorFirstName}}</td>
    </ng-container>
    <ng-container matColumnDef="last-name">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let d">{{d.authorLastName}}</td>
    </ng-container>
    <ng-container matColumnDef="fields-of-study">
        <th mat-header-cell *matHeaderCellDef>Fields Of Study</th>
        <td mat-cell *matCellDef="let d">{{d.authorFieldsOfStudy}}</td>
    </ng-container>
    <ng-container matColumnDef="author-citations-count">
        <th mat-header-cell *matHeaderCellDef>Citations Count</th>
        <td mat-cell *matCellDef="let d">{{d.authorCitationsCount}}</td>
    </ng-container>
    <ng-container matColumnDef="organization-name">
        <th mat-header-cell *matHeaderCellDef>Organization Name</th>
        <td mat-cell *matCellDef="let d" matTooltip="{{d.organizationName}}">{{d.organizationName | slice:0:15}}...</td>
    </ng-container>
    <ng-container matColumnDef="type1">
        <th mat-header-cell *matHeaderCellDef>Type (Primary)</th>
        <td mat-cell *matCellDef="let d">{{d.organizationType1}}</td>
    </ng-container>
    <ng-container matColumnDef="type2">
        <th mat-header-cell *matHeaderCellDef>Type (Secondary)</th>
        <td mat-cell *matCellDef="let d">{{d.organizationType2}}</td>
    </ng-container>
    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let d">{{d.organizationCity}}</td>
    </ng-container>
    <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let d">{{d.organizationCountry}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
    </table>
    <div style="display: flex; justify-content: right; flex-direction: row;">
        <mat-paginator 
            #paginator
            [length]="length" 
            [pageSize]="pageSize" 
            [pageIndex]="pageIndex"
            [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
        <div class="button-container">
            <button class="export-button" type="button" (click)="exportToExcel()">
            <i class="fas fa-file-excel"></i> Export Excel</button>
            <button class="export-button" style="margin-left: 10px;" type="button" (click)="exportToCsv()">
            <i class="fas fa-file-csv"></i> Export Csv</button>
            <button class="reset-button" style="margin-left: 10px;" type="button" (click)="newSearch()">
            <i class="fas fa-sync"></i> New Search</button>
        </div>
    </div>
</div>