.spacer {
    flex: 1 1 auto;
}

.toolbar-item {
    display: inline-block;
    font-size:large;
    font-weight: lighter;
    text-decoration: none;
    color: white;
    padding: 0 12px;
}

.home-page-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.toolbar-icon {
    padding: 0 10px;
}
