body {
    display: flex;
    justify-content: first baseline;
    flex-direction: column;
}

.home-page-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 175px;
    width: 540px;
}

.cards-section {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    display: flex;
    justify-content:baseline;
    width: 100%;
}

.top-card{
    width: calc(33.33% - 40px);
    margin: 20px 20px 20px;
    background-color: rgb(219, 219, 219);
    box-shadow: 0px 0px 10px 2px #6b6b6b;
    font-weight: lighter;
    cursor:default;
    transition: all 0.2s ease-in-out;
}

.top-card:hover{
    width: calc(33.33% - 40px);
    margin: 20px 20px 20px;
    /* background-color: #000; */
    background: linear-gradient(to top left, #aaa8a8, #000);
    color: white;
    font-weight: lighter;
    cursor:default;
    transform: scale(1.1);
}