.home-page-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    height: 175px;
    width: 540px;
}

.cards-section {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto 0;
    width: 70%;
    justify-content: center;
}

.card-header {
    display: flex;
    justify-content:baseline;
    width: 100%;
}

.top-card{
    width: calc(33.33% - 40px);
    margin: 20px 20px 20px;
    background-color: rgb(219, 219, 219);
    font-weight: lighter;
}