<html>
    <head>    
    </head>

    <body style="overflow: hidden;">
        <div style="height: 90%; width: 32%; background-color: rgb(219, 219, 219); border-radius: 3%;
        margin-left: auto; margin-right: auto; margin-top: 3%; box-shadow: 0px 0px 10px 2px #6b6b6b;">
            <form id="search-form" method="POST" style="margin-left: 12px;"><br>
                    <strong><p style="color: #000000; font-size: large; font-weight: lighter;">Keywords</strong>
                    <section style="overflow: auto; height: 125px; width: 462px;">
                        <label for = "keywords">
                            <input
                                type = "text"
                                id = "keywords"
                                name = "keywords"
                                placeholder = "Enter Keywords"
                                size = "50"
                            >
                        </label>

                    <div id="add_new_field" style="display: inline-block;"></div>
                    <button onclick="addField()" type="button" style="background-color: black;
                    border-radius: 10%; color: white; margin-top: 5px;">+ Add Field</button>
                    </section><br/>

                <label for = "first-year">
                        <strong><p style="color: #000000; font-size: large; font-weight: lighter;">First Year</strong>
                        <input
                            type = "text"
                            id = "year1"
                            name = "years1"
                            placeholder = "Enter First Year"
                            size = "21"
                        >
                    </label>
                    <label for ="second-year">
                        <strong><p style="color: #000000; font-size: large; margin-left: 30px; 
                        font-weight: lighter;">Second Year</strong>
                        <input
                            type = "text"
                            id = "year2"
                            name = "years2"
                            placeholder = "Enter Last Year "
                            size = "21"
                            style = "margin-left: 30px;"
                        >
                    </label><br/>

                    <label id="subjects" for = "subjects">
                        <strong><p style="color: #000000; font-size: large; margin-top: 20px;
                        font-weight: lighter;">Subjects</strong></label>
                        <section style="overflow: auto; height: 220px; width: 460px;">
                            <input type="checkbox" name="AGRI" id="AGRI" value="AGRI">
                            <label for="button1">Agricultural and Biological Sciences</label><br/>
                            <input type="checkbox" name="ARTS" id="ARTS" value="ARTS">
                            <label for="button1">Arts and Humanities</label><br/>
                            <input type="checkbox" name="BIOC" id="BIOC" value="BIOC">
                            <label for="button1">Biochemistry, Genetics and Molecular Biology</label><br/>
                            <input type="checkbox" name="BUSI" id="BUSI" value="BUSI">
                            <label for="button1">Business, Management, and Accounting</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Chemical Engineering </label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Chemistry</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Computer Science</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Decision Sciences</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Earth and Planetary Sciences</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Economics, Econometrics and Finance</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Energy</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Engineering</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Environmental Science</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Immunology and Microbiology</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Materials Science</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Mathematics</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Medicine</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Neuroscience</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Nursing</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Pharmacology, Toxicology, and Pharmaceutics</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Physics and Astronomy</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Psychology</label><br/>
                            <input type="checkbox" name="social science" id="social science" value="social science">
                            <label for="button1">Social Sciences</label><br/>
                            <input type="checkbox" name="social science" id="social science" value="social science">
                            <label for="button1">Veterinary</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Dentistry</label><br/>
                            <input type="checkbox" name="CENG" id="CENG" value="CENG">
                            <label for="button1">Health Professions</label><br/>
                            <input type="checkbox" name="MULT" id="MULT" value="MULT">
                            <label for="button1">Multidisciplinary</label><br/>
                        </section>

                    <button type = "submit" class = "btn" style="background-color: #000000; color: #ffffff;
                        border-radius: 15%; margin-top: 20px;"> Submit </button>
            </form>
        </div>
    </body>
</html>
