<div class="container">
    <div class="header">
        <h1 mat-dialog-title style="font-size: 2em; margin-top: auto; margin-bottom: auto;">Duplicates Detection Menu</h1>
        <button type="button" class="close-button" (click)="close()"><i class="fa fa-times"></i></button>
    </div>
    <div class="menu-container">
        <div class="menu-item-duplicates">
            <i class="fas fa-file-alt" style="font-size: 4em;"></i>
        </div>
        <div class="menu-item-duplicates">
            <i class="fas fa-user" style="font-size: 4em;"></i>
        </div>
        <div class="menu-item-duplicates">
            <i class="fas fa-building" style="font-size: 4em;"></i>
        </div>
    </div>
</div>