<div class="container">
    <div class="header">
        <h1 mat-dialog-title style="font-size: 2em; margin-top: auto; margin-bottom: auto;">Duplicates Management</h1>
        <button type="button" class="close-button" (click)="onClose()"><i class="fa fa-times"></i></button>
    </div>
    <div style="display: flex; justify-content: left;">
        <hr style="background-color: black; width: 1000px; height: 1px;">
    </div>
    <div class="menu-container" *ngIf="!publicationsOption && !authorsOption && !organizationsOption">
        <div class="menu-items">
            <i class="fas fa-file-alt" style="font-size: 4em;"><span style="font-size: 1em;"> {{publicationsVariantsNumber}}</span></i>
            <button type="button" class="btn btn-rounded action-button" (click)="selectMode('publications')">Manage Publications Duplicates</button>
        </div>
        <div class="menu-items">
            <i class="fas fa-user" style="font-size: 4em;"> <span style="font-size: 1em;"> {{authorsVariantsNumber}}</span></i>
            <button type="button" class="btn btn-rounded action-button" (click)="selectMode('authors')">Manage Authors Duplicates</button>
        </div>
        <div class="menu-items">
            <i class="fas fa-building" style="font-size: 4em;"> <span style="font-size: 1em;"> {{organizationsVariantsNumber}}</span></i>
            <button type="button" class="btn btn-rounded action-button" (click)="selectMode('organizations')">Manage Organizations Duplicates</button>
        </div>
    </div>
    <div class="duplicates-tables-container" *ngIf="publicationsOption">
        <div class="table-container">
            <label class="column-label">Primary Variants</label>
            <table mat-table [dataSource]="originalPublications" style="width: 300px;">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let d" matTooltip="{{d.title}}">{{d.title | slice:0:25}}</td>  
                </ng-container>
                <ng-container matColumnDef="citationsCount">
                    <th mat-header-cell *matHeaderCellDef>Citations</th>
                    <td mat-cell *matCellDef="let d">{{d.citationsCount}}</td>  
                </ng-container>
                <ng-container matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat0cell *matCellDef="let d"><input type="checkbox" (change)="updatePublicationsVariantsList(d.id)"></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="publicationsTableColumns"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: publicationsTableColumns"></tr>
            </table>
        </div>
        <div class="table-container" style="margin-left: 20px;">
            <label class="column-label">Secondary Variants</label>
            <table mat-table [dataSource]="duplicatesPublications" style="width: 300px;">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Title</th>
                    <td mat-cell *matCellDef="let d" matTooltip="{{d.title}}">{{d.title | slice:0:25}}</td>  
                </ng-container>
                <ng-container matColumnDef="citationsCount">
                    <th mat-header-cell *matHeaderCellDef>Citations</th>
                    <td mat-cell *matCellDef="let d">{{d.citationsCount}}</td>  
                </ng-container>
                <ng-container matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat0cell *matCellDef="let d"><input type="checkbox" (change)="updatePublicationsVariantsList(d.id)"></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="publicationsTableColumns"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: publicationsTableColumns"></tr>
            </table>
        </div>
    </div>
    <button class="btn btn-rounded submit-button" type="button" (click)="clearPublicationsDuplicates()" *ngIf="publicationsOption">Clear Duplicates</button>

    <div class="duplicates-tables-container" *ngIf="authorsOption">
        <div class="table-container">
            <label class="column-label">Primary Variants</label>
            <table mat-table [dataSource]="originalAuthors" style="width: 300px;">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let d" matTooltip="{{d.firstName + ' ' + d.lastName}}">{{d.firstName + ' ' +d.lastName | slice:0:25}}</td>  
                </ng-container>
                <ng-container matColumnDef="citationsCount">
                    <th mat-header-cell *matHeaderCellDef>Citations</th>
                    <td mat-cell *matCellDef="let d">{{d.citationsCount}}</td>  
                </ng-container>
                <ng-container matColumnDef="hIndex">
                    <th mat-header-cell *matHeaderCellDef>hIndex</th>
                    <td mat-cell *matCellDef="let d">{{d.hIndex}}</td>  
                </ng-container>
                <ng-container matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat0cell *matCellDef="let d"><input type="checkbox" (change)="updateAuthorsVariantsList(d)"></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="authorsTableColumns"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: authorsTableColumns"></tr>
            </table>
        </div>
        <div class="table-container">
            <label class="column-label">Secondary Variants</label>
            <table mat-table [dataSource]="duplicatesAuthors" style="width: 300px;">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let d" matTooltip="{{d.firstName + ' ' + d.lastName}}">{{d.firstName + ' ' +d.lastName | slice:0:25}}</td>  
                </ng-container>
                <ng-container matColumnDef="citationsCount">
                    <th mat-header-cell *matHeaderCellDef>Citations</th>
                    <td mat-cell *matCellDef="let d">{{d.citationsCount}}</td>  
                </ng-container>
                <ng-container matColumnDef="hIndex">
                    <th mat-header-cell *matHeaderCellDef>hIndex</th>
                    <td mat-cell *matCellDef="let d">{{d.hIndex}}</td>  
                </ng-container>
                <ng-container matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat0cell *matCellDef="let d"><input type="checkbox" (change)="updateAuthorsVariantsList(d)"></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="authorsTableColumns"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: authorsTableColumns"></tr>
            </table>
        </div>
    </div>
    <button class="btn btn-rounded submit-button" type="button" (click)="clearAuthorsDuplicates()" *ngIf="authorsOption">Clear Duplicates</button>

    <div class="duplicates-tables-container" *ngIf="organizationsOption">
        <div class="table-container">
            <label class="column-label">Primary Variants</label>
            <table mat-table [dataSource]="originalOrganizations" style="width: 300px;">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let d" matTooltip="{{d.name}}">{{d.name | slice:0:25}}</td>  
                </ng-container>
                <ng-container matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat0cell *matCellDef="let d"><input type="checkbox" (change)="updateOrganizationsVariantsList(d)"></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="organizationsTableColumns"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: organizationsTableColumns"></tr>
            </table>
        </div>
        <div class="table-container">
            <label class="column-label">Secondary Variants</label>
            <table mat-table [dataSource]="duplicatesOrganizations" style="width: 300px;">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let d" matTooltip="{{d.name}}">{{d.name | slice:0:25}}</td>  
                </ng-container>
                <ng-container matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat0cell *matCellDef="let d"><input type="checkbox" (change)="updateOrganizationsVariantsList(d)"></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="organizationsTableColumns"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: organizationsTableColumns"></tr>
            </table>
        </div>
    </div>
    <button class="btn btn-rounded submit-button" type="button" (click)="clearOrganizationsDuplicates()" *ngIf="organizationsOption">Clear Duplicates</button>
</div>