{% extends 'base.html' %}{% block title %}Home{% endblock %}{% block content %}

<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="../static/fond.css">
    </head>
    
    <body>
      <center>
        <img class="logo" src="../static/logo.jpg" width="502" height="180">
        <h3 class="quote" style="font-family: Arial, Helvetica, sans-serif;">
          <strong>Your journey in scientific bibliography begins here!</strong></h3>
      </center>
    </body>
</html>

{% endblock %}