{% extends 'base.html' %}{% block title %}Home{% endblock %}{% block content %}

<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="../static/background.css">
    </head>
    
    <body>
      <div style=
        "background-image: url(../static/navbarlogo.jpg);
        background-repeat: no-repeat;
        background-size: cover;">
      </div>
      <center>
        <img src="../static/intelnetus1.png" style="width: 500px; height: 304x; position: relative; top: 50%;"/>
      </center>
      </body>
</html>

{% endblock %}