{% extends 'base.html' %}{% block title %}Search{% endblock %}{% block content %}
<html>
    <head>     
        <link rel="stylesheet" href="../static/fond.css">
        <style>        
            .btn:focus {
                outline: black;
            }
        </style>
    </head>

    <body>
        <div class="container">
        <form id="search-form" method="POST" style="width: 50%; position: absolute; top: 20%;">
            <label for = "keywords">
                <strong><p style="color: #000000; font-size: large;" />Keywords</strong><br>
                <input
                    type = "text"
                    id = "keywords"
                    name = "keywords"
                    placeholder = "Enter Keywords"
                    size = "50"
                >
            </label>

            <label for = "years-range">
                <strong><p style="color: #000000; font-size: large;" />Years Range</strong><br>
                <input
                    type = "text"
                    id = "years-range"
                    name = "years-range"
                    placeholder = "Enter First Year"
                    size = "21"
                >
                <strong>-</strong>
                <input
                    type = "text"
                    id = "years-range"
                    name = "years-range"
                    placeholder = "Enter Last Year  "
                    size = "21"
                >
            </label>

            <label id="subjects" for = "subjects">
                <strong><p style="color: #000000; font-size: large;" />Subjects</strong><br>
                <section style="overflow: auto; height: 200px;">
                    <input type="checkbox" name="AGRI" id="AGRI" value="AGRI">
                    <label for="button1">Agricultural and Biological Sciences</label><br/>
                    <input type="checkbox" name="ARTS" id="ARTS" value="ARTS">
                    <label for="button1">Arts and Humanities</label><br/>
                    <input type="checkbox" name="BIOC" id="BIOC" value="BIOC">
                    <label for="button1">Biochemistry, Genetics and Molecular Biology</label><br/>
                    <input type="checkbox" name="BUSI" id="BUSI" value="BUSI">
                    <label for="button1">Business, Management, and Accounting</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Chemical Engineering </label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Chemistry</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Computer Science</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Decision Sciences</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Earth and Planetary Sciences</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Economics, Econometrics and Finance</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Energy</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Engineering</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Environmental Science</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Immunology and Microbiology</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Materials Science</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Mathematics</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Medicine</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Neuroscience</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Nursing</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Pharmacology, Toxicology, and Pharmaceutics</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Physics and Astronomy</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Psychology</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Social Sciences</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Veterinary</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Dentistry</label><br/>
                    <input type="checkbox" name="CENG" id="CENG" value="CENG">
                    <label for="button1">Health Professions</label><br/>
                    <input type="checkbox" name="MULT" id="MULT" value="MULT">
                    <label for="button1">Multidisciplinary</label><br/>
                </section>
            </label><br/><br/>

            <button type = "submit" class = "btn" style="background-color: #000000; color: #ffffff;"> Submit </button>
            
        </form>
    </body>
</html>
{% endblock %}