{% extends 'base.html' %}{% block title %}Search{% endblock %}{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="../static/fond.css">

        <style>
            .btn:focus {
                outline: none;
            }
        </style>
    </head>
    <body>
        <form id="search-form" method="POST">

        <h1 align = "left" style="color: #99D9EA; position: absolute; top: 205px; left: 1150px;"> Search </h1>
        <div class = "form-group" style="position: absolute; top: 270px; left: 1000px;">
            <label for = "keywords">
                <strong><p style="color: #99D9EA; font-size: large;" />Keywords</strong><br>
                <input
                    type = "text"
                    id = "keywords"
                    name = "keywords"
                    placeholder = "Enter Keywords"
                    size = "50"
                >
            </label>
        </div>
        <div class = "form-group" style="position: absolute; top: 345px; left: 1000px;">
            <label for = "years-range">
                <strong><p style="color: #99D9EA; font-size: large;" />Years Range</strong><br>
                <input
                    type = "text"
                    id = "years-range"
                    name = "years-range"
                    placeholder = "Enter First Year"
                    size = "21"
                >
                <strong>-</strong>
                <input
                    type = "text"
                    id = "years-range"
                    name = "years-range"
                    placeholder = "Enter Last Year  "
                    size = "21"
                >
            </label>
        </div>
        <div class = "form-group" style="position: absolute; top: 420px; left: 1000px;">
            <label id="subjects" for = "subjects"> 
                <strong><p style="color: #99D9EA; font-size: large;" />Subjects/Topics</strong><br>
                <select id="subjects" name="subjects" aria-placeholder="Enter Subject" >
                    <option value=" " > </option>
                    <option value="SOCI">SOCI</option>
                    <option value="VETE">VETE</option> 
                </select>
            </label>
            <button onclick="addLabel()">Add Label +</button>
        </div>
        <br />
        <button type = "submit" class = "btn" style="position: absolute; top: 495px; left: 1000px;
        background-color: #99D9EA;"> Submit </button>
        </form>

        
    <script>
        function addLabel() {
            var newLabel = document.createElement("subjects");
            newLabel.innerHTML = "New label";
        
            var form = document.getElementsByTagName("search-form")[0];
            var labels = form.getElementsByTagName("subjects");
            var lastLabel = labels[labels.length - 1];
            lastLabel.insertAdjacentElement("afterend", newLabel);
        }
        </script>

    </body>
</html>
{% endblock %}