{% extends 'base.html' %}{% block title %}Display{% endblock %}{% block content %}

<!DOCTYPE html>
<html>

    <head>
        <style>

            tr {
                border-bottom: 2px solid #000;
                border-right: 2px solid #000;
            }

            tr:hover{
                background-color: rgb(191, 220, 229);
            }

            td, th {
                border-left: 2px solid #000;
            }

            section {
                border: 2px solid #000;
                box-shadow: 5px 5px 10px rgb(73, 73, 73);
            }
            
            .center{
                text-align: center;
            }

            .sticky {
                position: sticky;
                top: 0;
                background-color: white;
            }

        </style>
    </head>

    <body>
        <div class="container">
        <section style="overflow: auto; position: absolute; top: 100px; left: 160px; height: 250px; width: 1200px;">
            <table id="first-export" style="background-color: white; table-layout: fixed; width: 3700px;">

                <thead>
                    <tr class="sticky">
                        <th style="width: 200px;" class="center">DOI</th>
                        <th style="width: 200px;" class="center">Year</th>
                        <th style="width: 200px;" class="center">Citations Count</th>
                        <th style="width: 200px;" class="center">Publisher</th>
                        <th style="width: 200px;" class="center">First Name</th>
                        <th style="width: 200px;" class="center">Last Name</th>
                        <th style="width: 200px;" class="center">Citations Count</th>
                        <th style="width: 200px;" class="center">Documents Count</th>
                        <th style="width: 200px;" class="center">Organization Name</th>
                        <th style="width: 200px;" class="center">Organization Type (1)</th>
                        <th style="width: 200px;" class="center">Organization Type (2)</th>
                        <th style="width: 200px;" class="center">Organization City</th>
                        <th style="width: 200px;" class="center">Organization Region</th>
                        <th style="width: 200px;" class="center">Organization Country</th>
                    </tr>
                </thead>

                <tbody>
                    {% for pub in pubs %}
                    <tr>
                        <td class="center">{{ pub[0] }}</td>
                        <td class="center">{{ pub[1] }}</td>
                        <td class="center">{{ pub[2] }}</td>
                        <td class="center">{{ pub[3] }}</td>
                        <td class="center">{{ pub[6] }}</td>
                        <td class="center">{{ pub[7] }}</td>
                        <td class="center">{{ pub[9] }}</td>
                        <td class="center">{{ pub[10] }}</td>
                        <td class="center">{{ pub[11] }}</td>
                        <td class="center">{{ pub[12] }}</td>
                        <td class="center">{{ pub[13] }}</td>
                        <td class="center">{{ pub[14] }}</td>
                        <td class="center">{{ pub[15] }}</td>
                        <td class="center">{{ pub[16] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </section>
        
        <section style="overflow: auto; position: absolute; top: 450px; left: 160px; height: 250px; width: 1200px;">
            <table id="second-export" style="background-color: white; table-layout: fixed; width: 3700px;">

                <thead>
                    <tr class="sticky">
                        <th style="width: 200px;" class="center">DOI</th>
                        <th style="width: 200px;" class="center">Citations Count</th>
                        <th style="width: 200px;" class="center">Minimum Distance (km)</th>
                        <th style="width: 200px;" class="center">Maximum Distance (km)</th>
                        <th style="width: 200px;" class="center">Average Distance (km)</th>

                    </tr>
                </thead>

                <tbody>
                    {% for dist in dists %}
                    <tr>
                        <td class="center">{{ dist[0] }}</td>
                        <td class="center">{{ dist[1] }}</td>
                        <td class="center">{{ dist[2] }}</td>
                        <td class="center">{{ dist[3] }}</td>
                        <td class="center">{{ dist[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </section>
        </div>
    </body>

</html>

{% endblock %}