<!DOCTYPE html>
<html>
    <body>
        <img src="../../assets/img/hplogo.jpg" class="home-page-logo" style="pointer-events: none;">
        <section class="cards-section">
            <mat-card class="top-card">
                <mat-card-header class="card-header">
                    <mat-card-title><i class="fa fa-globe" aria-hidden="true"></i> Unified Metrics</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Access to metrics of publications and researchers that have been unified
                    from world's leading scientific bibliography databases such as Elsevier's Scopus&copy;
                    and Clarivate's Web of Science&copy;. 
                </mat-card-content>
            </mat-card>
            <mat-card class="top-card">
                <mat-card-header class="card-header">
                    <mat-card-title><i class="fa fa-cogs" aria-hidden="true"></i> Data Cleaning</mat-card-title>
                </mat-card-header>
                <mat-card-content> Duplicate detection algorithms are directed to minimize
                    possible flaws and inconsistencies for greater data quality and reliability.
                </mat-card-content>
            </mat-card>
            <mat-card class="top-card">
                <mat-card-header class="card-header">
                    <mat-card-title><i class="fa fa-graduation-cap" aria-hidden="true"></i> Multiple Disciplines</mat-card-title>
                </mat-card-header>
                <mat-card-content> Search for scientific publications from a wide range
                    of disciplines, subjected areas and scientific fields.
                </mat-card-content>
            </mat-card>
            <mat-card class="top-card">
                <mat-card-header class="card-header">
                    <mat-card-title><i class="fas fa-network-wired"></i> Knowledge Networks</mat-card-title>
                </mat-card-header>
                <mat-card-content> Based on raw bibliographic data, indices about correlations
                    and their efficiency inside the scientific community are calculated and provided
                    for knowledge networks analysis.
                </mat-card-content>
            </mat-card>
            <mat-card class="top-card">
                <mat-card-header class="card-header">
                    <mat-card-title><i class="fas fa-chart-bar" aria-hidden="true"></i> Statistics</mat-card-title>
                </mat-card-header>
                <mat-card-content> Enrich your scientometrics analysis with a visualized 
                    overview of your search's insights through various graphs and charts.
                </mat-card-content>
            </mat-card>
            <mat-card class="top-card">
                <mat-card-header class="card-header">
                    <mat-card-title><i class="fa fa-download" aria-hidden="true"></i> Download Results</mat-card-title>
                </mat-card-header>
                <mat-card-content> Download your search results in your machine in .xlsx/.csv 
                    files to expand their usability in any way you prefer!
                </mat-card-content>
            </mat-card>
        </section>
    </body>
</html>
