ul {
    font-size: 0;
}

.logo {
    position: absolute;
    left: 512px;
    top: 200px;
}

.navbarlogo {
    width: 100px;
    height: 38px;
}

.quote {
    position: absolute;
    left: 415px;
    top: 400px;
}

.box {
    width: 50%;
    height: 0%;
    padding-bottom: 41.25%;
    background-color: #0000;
}